BasedOnStyle: LLVM
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortEnumsOnASingleLine: true
Standard: Latest
SortUsingDeclarations: true
BreakBeforeBraces: Allman
AlignTrailingComments: true